@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Import font-face */
@font-face {
  font-family: 'UthmaniFont';
  src: url('/fonts/UthmaniFont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'LPMQ IsepMisbah';
  src: url('/fonts/LPMQ IsepMisbah.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Handlee';
  src: url('/fonts/Handlee.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'EduQLDHand';
  src: url('/fonts/EduQLDHand.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ShadowsIntoLight';
  src: url('/fonts/ShadowsIntoLight.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Mushaf;
  src: url('/fonts/mushaf.ttf');
}

.font-mushaf {
  font-family: Mushaf;
}

/* Kelas utilitas untuk font */
.font-uthmani {
  font-family: 'UthmaniFont', 'Traditional Arabic', serif;
}

.font-lpmq {
  font-family: 'LPMQ IsepMisbah', 'Traditional Arabic', serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-handlee {
  font-family: 'Handlee', cursive;
}

.font-eduhand {
  font-family: 'EduQLDHand', cursive;
}

.font-shadows {
  font-family: 'ShadowsIntoLight', cursive;
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
